<section class="dropdown_area">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>

				<select class="selectpicker form-control" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>

				<select class="selectpicker form-control" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>

				<select class="selectpicker form-control" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>
			</div><!-- col-3 -->

			<div class="col-md-3 col-sm-6 col-xs-12">
				<a href="/" class="search_btn">Search</a>
			</div><!-- col-3 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- dropdown_area -->
<!-- Large modal -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<!-- Button trigger modal -->
			<button style="display: none;" type="button" class="small_btn filter_icon" data-toggle="modal" data-target=".bs-example-modal-lg">
			  	<i class=" fa fa-filter " aria-hidden="true"></i>
			</button>
			<!-- <div style="display: none;" class="small_btn filter_icon" data-toggle="modal" data-target=".bs-example-modal-lg"><i class=" fa fa-filter " aria-hidden="true"></i></div> -->
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="padding: 10px;">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control model_picker" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>

				<select class="selectpicker form-control model_picker" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control model_picker" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>

				<select class="selectpicker form-control model_picker" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control model_picker" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>

				<select class="selectpicker form-control model_picker" data-size="5" >
					<option>Featured Items</option>
					<option>Classics</option>
					<option>Buy It Now</option>
					<option>Engine Start Program </option>
					<option>Enhanced Vehicles</option>
					<option>Featured Vehicles</option>
					<option>Fleet / Lease</option>
					<option>Hot Items</option>
					<option>Municipal Fleet</option>
					<option>New Items</option>
					<option>No License Required </option>
					<option>Offsite Sales </option>
					<option>Pure Sale Items</option>
					<option>Recovered Thefts</option>
					<option>Run and Drive</option>
					<option>Sealed Bid Repossessions</option>
				</select>
			</div><!-- col-3 -->

			<div class="col-md-3 col-sm-6 col-xs-12">
				<a href="/" class="search_btn">Search</a>
			</div><!-- col-3 -->
		</div><!-- row -->

    </div>
  </div>
</div>


<script type="text/javascript">
var width = $(window).width(), height = $(window).height();
var limit =$('.logo-nav').height() + $('.site-nav').height() + $('.banner').height();
if ((width >= 991)) {
$(function () {
	$(window).scroll(function () {
		var scrollval = $(window).scrollTop();
		if (scrollval >= limit) {
			$(".dropdown_area").hide(1000);
			$(".small_btn").show(0.500);
		}else{
			$(".dropdown_area").show(1000);
			$(".small_btn").hide(0.500);
		}
	});
});
} else {
	$(".dropdown_area").hide(0.500);
	$(".small_btn").show(0.500);
}



</script>
<!-- if you want to disable search icon on banner 
<script type="text/javascript">
var width = $(window).width(), height = $(window).height();
var limit =$('.logo-nav').height() + $('.site-nav').height() + $('.banner').height();
if (width <= 991) {
	var scrollval2 = $(window).scrollTop();
	$(".dropdown_area").hide(1000); 

	$(window).scroll(function () {
		var scrollval2 = $(window).scrollTop();
		if (scrollval2 > 329) {
			//$(".dropdown_area").hide(1000);
			$(".small_btn").show(0.500);
		}else{
			//$(".dropdown_area").show(1000);
			$(".small_btn").hide(0.500);
		}

	});

} else {
	$(window).scroll(function () {
		var scrollval = $(window).scrollTop();
		if (scrollval >= limit) {
			$(".dropdown_area").hide(1000);
			$(".small_btn").show(0.500);
		}else{
			$(".dropdown_area").show(1000);
			$(".small_btn").hide(0.500);
		}
	});
}




</script> -->