<section class="dropdown_area affix-search">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- dropdown_area -->

<section class="accordion-area" style="display: none;">
	<button type="button" class="btn btn-info res_btn" data-toggle="collapse" data-target="#demo">Open Search Box</button>
	  <div id="demo" class="collapse">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
			</div><!-- row -->
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
			</div><!-- row -->
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
			</div><!-- row -->
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
			</div><!-- row -->
		</div><!-- container -->
	  </div>
</section><!-- accordion for responsive searches -->
