<section class="dropdown_area affix-search">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- dropdown_area -->


<!-- <section class="accordion-area button_affix affix" style="">
	<button type="button" class="btn btn-info res_btn button_affix affix" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

	
</section><!-- accordion for responsive searches -->

<button type="button" class="btn btn-info res_btn" data-toggle="modal" data-target=".bs-example-modal-lg">Search</button>

<section class="modal-area ">
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabefaffixl">
	  	<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-xs-6 ">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
					</div><!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
					</div><!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
					</div><!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
					</div><!-- row -->
				</div><!-- container -->      
	    	</div>
	  	</div>
	</div>
</section>

<script type="text/javascript">
/*jQuery(function($) {

    var $nav = $('#scroll_div');
    var $win = $(window);
  	var windowHeight = $(window).height();
    var winH = windowHeight - 60

    $win.on("scroll", function () {
        if ($(this).scrollTop() > winH ) {
            $nav.addClass("hidden_searches");
  					$("body").addClass("body-sticky");
        } else {
            $nav.removeClass("hidden_searches");
  					$("body").removeClass("body-sticky");
        }
    }).on("resize", function(){ // If the user resizes the window
       winH = $(this).height(); // you'll need the new height value
    });

});*/
$(window).scroll(function() {    

    var scroll = $(window).scrollTop();

    if (scroll >= 300) {
        $(".dropdown_area").addClass("hidden_searches");
    }else{
    	$(".dropdown_area").removeClass("hidden_searches");
    }

});
$(document).ready(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.res_btn').addClass(".red-btn");
        } 
    });
});


</script> 