<section class="dropdown_area">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- dropdown_area -->
<!-- Large modal -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div style="display: none;" class="small_btn anotherClass" data-toggle="modal" data-target=".bs-example-modal-lg"><i class=" fa fa-filter filter_icon" aria-hidden="true"></i></div>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
			</div><!-- row -->
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
			</div><!-- row -->
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
			</div><!-- row -->
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<select class="selectpicker form-control" data-size="5" >
						<option>Mustard1</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Mayonnaise</option>
						<option>Barbecue Sauce</option>
						<option>Salad Dressing</option>
						<option>Tabasco</option>
						<option>Salsa</option>
					</select>
				</div><!-- col-3 -->
			</div><!-- row -->
		</div><!-- container -->

    </div>
  </div>
</div>

<script type="text/javascript">
var width = $(window).width(), height = $(window).height();
var limit =$('.logo-nav').height() + $('.site-nav').height() + $('.banner').height();
if ((width >= 991)) {
$(function () {
	$(window).scroll(function () {
		var scrollval = $(window).scrollTop();
		if (scrollval >= limit) {
			$(".dropdown_area").hide(1000);
			$(".small_btn").show(0.500);
		}else{
			$(".dropdown_area").show(1000);
			$(".small_btn").hide(0.500);
		}
	});
});
} else {
	$(".dropdown_area").hide(0.500);
	$(".small_btn").show(0.500);
}





</script>