<section class="dropdown_area affix-search">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- dropdown_area -->


<!-- <section class="accordion-area button_affix affix" style="">
	<button type="button" class="btn btn-info res_btn button_affix affix" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

	
</section><!-- accordion for responsive searches -->

<button type="button" class="btn btn-info res_btn affix" data-toggle="modal" data-target=".bs-example-modal-lg">Search</button>

<section class="modal-area">
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  	<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-xs-6 ">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
					</div><!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
					</div><!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
					</div><!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
						<div class="col-md-3 col-xs-6">
							<select class="selectpicker" data-size="5" >
								<option>Mustard1</option>
								<option>Ketchup</option>
								<option>Relish</option>
								<option>Mayonnaise</option>
								<option>Barbecue Sauce</option>
								<option>Salad Dressing</option>
								<option>Tabasco</option>
								<option>Salsa</option>
							</select>
						</div><!-- col-3 -->
					</div><!-- row -->
				</div><!-- container -->      
	    	</div>
	  	</div>
	</div>
</section>

<script type="text/javascript">
	$('.res_btn').affix({offset: {top: 150} });

</script>