 <!-- Basic Table -->
 <div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
				<h1>New Admin Lot</h1>
			</div>

<div class="body">
<%= render 'form', admin_lot: @admin_lot %>

<%= link_to 'Back', admin_lots_path %>
</div>
</div>