<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<% if notice %><div class="alert alert-success"><%= notice %></div> <% end %>
				<h2>
					FILE UPLOAD - DRAG & DROP OR WITH CLICK & CHOOSE
				</h2>
			</div>
			<div class="body">
				<form action="/admin/bulk_upload" id="frmFileUpload" class="" method="post" enctype="multipart/form-data">
					<input name="bulk_upload[attachment]" type="file" multiple />
					<br>
					<button type="submit" class="btn btn-primary">Submit</button>
					<hr>
				</form>

				<table class="table table-striped table-hover">
					<thead>
						<th>Date</th>
						<th width="65%">File Name</th>
						<th>Status</th>
						<th>Action</th>
					</thead>
					<tbody>
					<% @bulk_uploads.each do | upload | %>
					<tr>
						<td><%= upload.created_at.strftime("%Y-%m-%d  %H:%M:%S") %></td>
						<td><%= upload.attachment.url %></td>
						<% if upload.status == 0 %>
						<td><span class="badge bg-pink">Not Imported</span></td>
						<% end %>
						<% if upload.status == 1 %>
						<td><span class="badge bg-orange">Processing</span></td>
						<% end %>
						<% if upload.status == 2 %>
						<td><span class="badge bg-teal">Complete</span></td>
						<% end %>
						<td><a href="/admin/csv/<%= upload.id %>">Import</a></td>
					</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>