<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= form_tag( '/search', :method => :get ) do %>
				<h2>Search from <%= total_lots_count %> vehicles</h2>
				<div class="input-group stylish-input-group">
				<%= text_field_tag 'lot_number', nil, placeholder: 'e.g Lot # 14975263', class: 'form-control', value: params[:lot_number] %>
					<span class="input-group-addon">
						<button type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>  
					</span>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>