<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Search from 126,478 vehicles</h2>
				<div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="e.g blackbush, audi 3..." >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
			</div><!-- col-12 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- banner -->