<section class="detail_page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>ABOUT US</h1>
				<img class="img-responsive pull-right about-page-img" src="<%= asset_path('about-us')%>">
				<p>Mitsab was founded in 2016 by our client, a true success story. Our client grew up learning about business from his father – an entrepreneur who dabbled in everything from anything to reverything and building great bussineses. O.C. Client took that entrepreneurial spirit, along with a strong work ethic and a passion for change, and started Mitsab with just one salvage yard somewhere in the world.</p>
				<p>In some year, he took Mitsab public (NASDAQ: "CPRT"), raising the money needed to expand the company across the United States. Our evolving auction technology has transformed Copart from a salvage vehicle auction company into a technology company offering a global remarketing platform that links buyers and sellers around the world.</p>


				<p>Today, Mitsab is the premier destination for quality vehicles. Our technology makes it easy to find, bid and win the vehicles our Members are looking for. Members can choose from classics, early and late model cars and trucks, industrial vehicles and more. We sell over one million vehicles each year, and have thousands up for auction every day.</p>
				<p>Mitsab success has earned us a place on the Forbes America's Best Small Companies list nine years in a row. Mitsab was also featured on the television show World's Best as "The World's Best Remarketing Company."</p>
			</div><!-- col-12 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- detail_page -->