<div class="gray_page_title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Contact us</h1>
			</div>
		</div>
	</div>
</div>
<div id="map"></div>
<section class="contact">
	<div class="container">
	    <div class="row">
	        <div class="col-md-8">
	            <div class="well well-sm">
	                <form>
	                <div class="row">
	                    <div class="col-md-6">
	                        <div class="form-group">
	                            <label for="name">
	                                Name</label>
	                            <div class="input-group">
	                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
	                                </span>
	                                <input type="text" class="form-control" id="name" placeholder=" " required="required" />
                                </div>    
	                            
	                        </div>
	                        <div class="form-group">
	                            <label for="email">
	                                Email Address</label>
	                            <div class="input-group">
	                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
	                                </span>
	                                <input type="email" class="form-control" id="email" placeholder=" " required="required" />
                                </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="Phone">
	                                Phone No</label>
	                            <div class="input-group">
	                                <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span>
	                                </span>
	                                <input type="text" class="form-control" id="phone" placeholder="" required="required" />
                                </div>        
	                            
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="form-group">
	                            <label for="name">
	                                Message</label>
	                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
	                                placeholder=""></textarea>
	                        </div>
	                    </div>
	                    <div class="col-md-12">
	                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
	                            Send Message</button>
	                    </div>
	                </div>
	                </form>
	            </div>
	        </div>
	        <div class="col-md-4">
	            <form>
	            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
	            <address>
	                <strong> Mitsab </strong><br>
	                B 513<br>
	                Karachi, PAKISTAN<br>
	                <abbr title="Phone">
	                    Phone</abbr>
	                (021) 3652-4562
	            </address>
	            <address>
	                <strong>Full Name</strong><br>
	                <a href="">first.last@example.com</a>
	            </address>
	            </form>
	        </div>
	    </div>
	</div>
	
    <script>
      function initMap() {
        var uluru = {lat: 29.688380, lng: -95.528744};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsp_jqud0MiOE-KLglRsmt5JsX8Z2G3KY&callback=initMap">
    </script>
</section><!-- contact -->