<div class="container" style="margin-top: 45px; margin-bottom: 45px;">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: center"><strong>404</strong> Not Found</h1>
			<%= link_to(root_path) do %>
			<p style="text-align: center">Back To Homepage</p>
			<% end %>
		</div>
	</div>
</div>