<div class="gray_page_title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Faq</h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          How do I register to MITSAB Inc.?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        To register at MITSAB Inc. you simply have to click "Register" Button on the top right of this website. This will open up a form that you have to fill in and submit. Just make sure that you fill in all the asked fields in the form so that your registration process is out of any issues. Once you register, you will be able to login to MITSAB via the email address that you provided.
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          How many used cars are normally available in your auction stock?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        Usually, we have more than 20,000 cars in our auction stock but this may vary. On average we have around 20,000 to 40,000 cars available in our auction stock on daily basis. Usually we have 2 to 3 RORO ships and 4 to 5 container shipments in a month.
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          What payment methods do you accept?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        We only accept payment by telegraphic transfers to our designated bank accounts.
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          How long does it take to get my car shipped to me?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">
			        We cannot tell you the exact time for your car shipment as it completely depends upon the shipping details and schedules. However, your car will be shipped on the earliest available vessel. Usually it takes 4 to 8 weeks.
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFive">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			          What shipping documents do I receive?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			      <div class="panel-body">
			        You receive: a) Bill of lading b) Custom’s invoice c) American export certificate d) Inspection certificate (if required)
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSix">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			          How many cars do you load to 20 ft. and 40 ft. containers?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
			      <div class="panel-body">
			        We ship 1 large vehicle or 2 small vehicles in 20 ft. container and 5 small vehicles or 4 medium vehicles to 40 ft. container. For example, we can load 3 Mitsubishi Pajero in 40 ft. container.
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSeven">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
			          Do you inspect the cars before shipping?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
			      <div class="panel-body">
			        Yes, all the cars are thoroughly tested and engines are tested by computers before shipping. The specification is also thoroughly checked at our end.
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingEight">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
			          Does your staff inspect the cars before putting them up in auction stock?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
			      <div class="panel-body">
			        We have highly skilled auto technicians and professionals who make sure that every car that is going to be up in our auction stock is thoroughly tested from all the possible aspects.
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingNine">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
			          If I have a question. Who should is ask?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
			      <div class="panel-body">
			        First of all read these FAQs. It is possible that your question has already been responded here. But if you thing that you want to inquire more about anything, feel free to send an email to info@mitsab.com or dial our number 1888-470-0564
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>