<div class="gray_page_title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Faq</h1>
			</div>
		</div>
	</div>
</div>
<section class="detail_page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<img class="img-responsive pull-right about-page-img" src="<%= asset_path('about-us')%>">
				<p>Mitsab Inc. is a trading company aimed at serving high quality vehicles at very affordable prices. Since our inception, we are proud to be a provider of high quality US made new & used cars tour beloved clients worldwide. We provide wholesale quality used cars to our clients, including dealers and business individuals. We value our lasting relationships and the trust that we have built with our clients over the years.</p>
				<p>At MITSAB Inc., we simply bring your dream car close to you. Our easy to use auction platform makes it convenient for you to select your desired vehicle from more than 40,000 vehicles. The best part about MITSAB is that you don’t have to worry about shipment once you purchase your car; MITSAB will do it for you against the most optimum charges. So all you have to do is to select your car and get it delivered to your doorstep within no time.</p>


				<p>Mitsab Inc. envisions the growth of developing countries and increased awareness of resource saving, the needs of used automobiles have been and will be becoming greater and greater. Our worldwide services will assist and promote your business according to the global trends in automobile retail sector.</p>
				<p>Our mission is to continuously provide better service to our customers all around the world and pursuer customer satisfaction with constant efforts and passion in used automobile industry.</p>
			</div><!-- col-12 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- detail_page -->