<div class="gray_page_title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>How to buy</h1>
      </div>
    </div>
  </div>
</div>
<section class="detail_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>This 4 step process is not only the easiest one that lets you buy your dream vehicle within no time, but also the most effective one. As we aim to make car purchasing easy for you, we have ensured that you stay away from all the hassle while getting to buy the car that you have been waiting for</p>
      </div><!-- col-12 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- detail_page -->
<div class="container"><!-- 
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div> -->
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="fa fa-car" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">STEP 1: SELECT YOUR DREAM CAR</h4>
              
            </div><!-- 
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div> -->
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">STEP 2: FILL OUT THE ORDER FORM</h4>
            </div>
           <!--  <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
            </div> -->
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="fa fa-money" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">STEP 3: PAY YOUR PAYMENT</h4>
            </div>
           <!--  <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div> -->
          </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-badge danger"><i class="fa fa-truck" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">STEP 4: GET YOUR CAR SHIPPED</h4>
            </div>
            <!-- <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div> -->
          </div>
        </li>
       <!--  <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li> -->
    </ul>
</div>

<section class="detail_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>Strong Ties With Leading Shippers</h2>
        <p>Take the advantage to purchase your vehicles from car experts. It is also imperative that you engage with an experienced and seasoned exporter with a strong business relationship with shipping companies as well, MITSAB Inc. have strong business relationships and network with many of the most leading and trusted freight forwarding and shipping companies like Linear Shipping to provide swift and efficient shipping of your purchases.</p>

        <h2>Ports We Ship From</h2>
        <p>MITSAB provides value to your money. With all the power vested in us, we aim to make the car buying element one of the easiest in your lives. All our vehicles are physically tested and engines are tested on computers to ensure top quality before delivery.</p>

        <table style="height: 288px;" width="100%">
          <tbody>
            <tr style="border-bottom: 1px solid #f3f3f3;">
              <td style="text-align: center;">Miami, FL</td>
              <td style="text-align: center;">Baltimore, MD</td>
            </tr>
            <tr style="border-bottom: 1px solid #f3f3f3;">
              <td style="text-align: center;">Jacksonville, FL</td>
              <td style="text-align: center;">New York</td>
            </tr>
            <tr style="border-bottom: 1px solid #f3f3f3;">
              <td style="text-align: center;">Savannah, GA</td>
              <td style="text-align: center;">NY, Houston</td>
            </tr>
            <tr style="border-bottom: 1px solid #f3f3f3;">
              <td style="text-align: center;">Brunswick, GA</td>
              <td style="text-align: center;">TX (Galveston, TX)</td>
            </tr>
            <tr style="border-bottom: 1px solid #f3f3f3;">
              <td style="text-align: center;">Charleston, SC</td>
              <td style="text-align: center;">Long Beach, CA</td>
            </tr>
          </tbody>
        </table>
      </div><!-- col-12 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- detail_page -->