<section class="detail_page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>WHY MITSAB</h1>
				<img class="img-responsive pull-right about-page-img" src="<%= asset_path('wy-mitsab')%>">
				<p>The best thing about MITSAB that makes it stand out among other car auction platforms is that you don’t have to worry abvout anything, neither the shipment of your car, nor about the hassle to manage the whole delivery process. At MITSAB you get the best cars on auction display with the least lead time as per industry standards.</p>
				<p>Mitsab Inc. envisions the growth of developing countries and increased awareness of resource saving, the needs of used automobiles have been and will be becoming greater and greater. Our worldwide services will assist and promote your business according to the global trends in automobile retail sector.</p>


				<p>Our mission is to continuously provide better service to our customers all around the world and pursuer customer satisfaction with constant efforts and passion in used automobile industry.</p>
			</div><!-- col-12 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- detail_page -->